<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>FAW Project -  Data Query</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/style_query.css" type="text/css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
    <!-- If you want to use jquery 2+: https://code.jquery.com/jquery-2.1.0.min.js -->
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> FAW Project -  Data Query </h1>
		<a href="/profile" class="btn btn-default btn-sm"> User Home </a>
		<a href="/dataEntry" class="btn btn-default btn-sm"> Data Entry </a>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>username</strong>: <%= user.username %><br>
					</p>

			</div>
		</div>

	</div>

    <div id="modal" class="modal">
        <!-- Modal content -->
        <div id="modal-content">
            <div id="modal-header">
                <span id="close"></span>
                <h2 id="header"></h2>
            </div>
            <div id="modal-body">
                <p id="body"></p>
            </div>
            <div id="modal-footer">
            </div>
        </div>
    </div>
<div class="containerBox">
    <h4>Select a Date: &nbsp;&nbsp;&nbsp;</h4><input class="datePicker">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h4>Select a Date: &nbsp;&nbsp;&nbsp;</h4><input class="datePicker">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
    <input type="button" onclick="query()" value="Click here to continue">
    <div id=dataDisplayDiv class='container'>
        <div id="dvData">
            <table>
            </table>
        </div>
        <br/>
        <div class='button'>
            <a href="#" id ="export" role='button'>Click On This Link To Export The Table Data into a CSV File
            </a>
        </div>
    </div>
</div>
</div>

<script type='text/javascript'>

    flatpickr(".datePicker", {
        dateFormat: "Y-m-d",
        time_24hr: true
    });

    function query() {
        var startDate = document.getElementsByClassName("datePicker")[0].value;
        var endDate = document.getElementsByClassName("datePicker")[1].value;
        //alert(startDate + "  " + endDate);
        if (startDate && endDate) {
            $("#dataDisplay").remove();
            $("#dvData").append($("<table id='dataDisplay'></table>"))

            queryAndDisplay(startDate, endDate);
        } else {
            alert("Please Select both Date !");
        }
    }

    var queryAndDisplay = function (startDate, endDate) {
        var ajaxRequest;
        try{
            // Opera 8.0+, Firefox, Safari
            ajaxRequest = new XMLHttpRequest();
        }catch (e){
            // Internet Explorer Browsers
            try{
                ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
            }catch (e) {
                try{
                    ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
                }catch (e){
                    // Something went wrong
                    alert("Your browser broke!");
                    return false;
                }
            }
        }

        ajaxRequest.onreadystatechange = function() {
            //alert("xhr status: " + ajaxRequest.readyState);

            if (ajaxRequest.readyState == 4 && ajaxRequest.status == 200) {
                var ajaxReturn = JSON.parse(ajaxRequest.response);
                alert(ajaxReturn[0].errStatus);

                if (!ajaxReturn[0].errStatus) {

                    document.getElementById("modal-header").style.backgroundColor = "#5cb85c";
                    document.getElementById("modal-footer").style.display = "none";
                    document.getElementById("close").innerHTML = "&times";

                    document.getElementById("header").innerHTML = "The results will appear after closing this !";
                    document.getElementById("body").innerHTML = "You can click the 'X' or click anywhere on the browser to close this message .";


                    var table = $("#dataDisplay");
                    table.append($("<tr id='title'>"));
                    var field = ["Date", "Location", "GPS Location", "Main Crop", "Crop Variety", "Cropping System", "Planting Date", "Field Size", "Date of Last Rainfall", "Pest Species", "Presence or Absence", "Stage", "Number per Plant (Crops)", "Number per m2 (Pastures)", "Number per Trap", "% Crop Infested", "Control", "If Pesticide: Amount in Litres", "Photos of Pest", "Photos of Damage"];
                    for (var i = 0; i < field.length; i++) {
                        $("#title").append($("<th>" + field[i] + "</th>"));
                    }
                    table.append($("</tr>"));

                    for (var i = 0; i < ajaxReturn.length; i++){
                        table.append($("<tr id='dataColumn" + (i + 1) + "'>"));
                        $("#dataColumn" + (i + 1)).append($("<td>" + ajaxReturn[i].Date.substring(0,10) + "</td>" + "<td>" + ajaxReturn[i].Location + "</td>" + "<td>" + ajaxReturn[i].GPS_Location + "</td>" + "<td>" + ajaxReturn[i].Main_Crop + "</td>" + "<td>" + ajaxReturn[i].Crop_Variety + "</td>" + "<td>" + ajaxReturn[i].Cropping_System + "</td>" + "<td>" + ajaxReturn[i].Planting_Date.substring(0,10) + "</td>" + "<td>" + ajaxReturn[i].Field_Size + "</td>" + "<td>" + ajaxReturn[i].Last_Rainfall_Date.substring(0,10) + "</td>" + "<td>" + ajaxReturn[i].Pest_Species + "</td>" + "<td>" + ajaxReturn[i].Presence_or_Absence + "</td>" + "<td>" + ajaxReturn[i].Stage + "</td>" + "<td>" + ajaxReturn[i].Number_per_Plant + "</td>" + "<td>" + ajaxReturn[i].Number_per_Pastures + "</td>" + "<td>" + ajaxReturn[i].Number_per_Trap + "</td>" + "<td>" + ajaxReturn[i].Percentage_of_Crop_Infested + "</td>" + "<td>" + ajaxReturn[i].Control + "</td>" + "<td>" + ajaxReturn[i].Amount_of_Pesticide_in_Litres + "</td>" + "<td>" + ajaxReturn[i].Photos_of_Pest + "</td>" + "<td>" + ajaxReturn[i].Photos_of_Damage + "</td>"));
                        table.append($("</tr>"));
                    }

                    document.getElementById("modal").style.display = "block";

                } else if (ajaxReturn[0].errStatus === "fail") {

                    document.getElementById("modal-header").style.backgroundColor = "#f44242";
                    document.getElementById("modal-footer").style.display = "none";
                    document.getElementById("close").innerHTML = "&times";

                    document.getElementById("header").innerHTML = "Sorry. There is an error occurs during the query !";
                    document.getElementById("body").innerHTML = "Please try again later .";

                    document.getElementById("modal").style.display = "block";
                } else if (ajaxReturn[0].errStatus === "no data entry") {
                    document.getElementById("modal-header").style.backgroundColor = "#f44242";
                    document.getElementById("modal-footer").style.display = "none";
                    document.getElementById("close").innerHTML = "&times";
                    if (startDate === endDate) {
                        document.getElementById("header").innerHTML = "There is no data entry in " + startDate + " !";
                    } else {
                        document.getElementById("header").innerHTML = "There is no data entry from " + startDate + " to " + endDate + " !";
                    }
                    document.getElementById("body").innerHTML = "Please try again with another date .";

                    document.getElementById("modal").style.display = "block";
                }

                // Get the <span> element that closes the modal
                var span = document.getElementById("close");

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    document.getElementById("modal").style.display = "none";
                    if (!ajaxReturn[0].errStatus) {
                        document.getElementById("dataDisplayDiv").style.display = "block";
                    }
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;

                };

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        document.getElementById("modal").style.display = "none";
                        if (!ajaxReturn[0].errStatus) {
                            document.getElementById("dataDisplayDiv").style.display = "block";
                        }
                        document.body.scrollTop = 0;
                        document.documentElement.scrollTop = 0;
                    }
                };
            }
        };


        var querystring = "?startDate=" + startDate + "&endDate=" + endDate;
        ajaxRequest.open("GET", "/query" + querystring, true);
        ajaxRequest.send(querystring);
    };

    $(document).ready(function () {

        function exportTableToCSV($table, filename) {
            var $headers = $table.find('tr:has(th)')
                ,$rows = $table.find('tr:has(td)')

                // Temporary delimiter characters unlikely to be typed by keyboard
                // This is to avoid accidentally splitting the actual contents
                ,tmpColDelim = String.fromCharCode(11) // vertical tab character
                ,tmpRowDelim = String.fromCharCode(0) // null character

                // actual delimiter characters for CSV format
                ,colDelim = '","'
                ,rowDelim = '"\r\n"';

            // Grab text from table into CSV formatted string
            var csv = '"';
            csv += formatRows($headers.map(grabRow));
            csv += rowDelim;
            csv += formatRows($rows.map(grabRow)) + '"';

            // Data URI
            var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

            // For IE (tested 10+)
            if (window.navigator.msSaveOrOpenBlob) {
                var blob = new Blob([decodeURIComponent(encodeURI(csv))], {
                    type: "text/csv;charset=utf-8;"
                });
                navigator.msSaveBlob(blob, filename);
            } else {
                $(this)
                    .attr({
                        'download': filename
                        ,'href': csvData
                        //,'target' : '_blank' //if you want it to open in a new window
                    });
            }

            //------------------------------------------------------------
            // Helper Functions
            //------------------------------------------------------------
            // Format the output so it has the appropriate delimiters
            function formatRows(rows){
                return rows.get().join(tmpRowDelim)
                    .split(tmpRowDelim).join(rowDelim)
                    .split(tmpColDelim).join(colDelim);
            }
            // Grab and format a row from the table
            function grabRow(i,row){

                var $row = $(row);
                //for some reason $cols = $row.find('td') || $row.find('th') won't work...
                var $cols = $row.find('td');
                if(!$cols.length) $cols = $row.find('th');

                return $cols.map(grabCol)
                    .get().join(tmpColDelim);
            }
            // Grab and format a column from the table
            function grabCol(j,col){
                var $col = $(col),
                    $text = $col.text();

                return $text.replace('"', '""'); // escape double quotes

            }
        }


        // This must be a hyperlink
        $("#export").click(function (event) {
            // var outputFile = 'export'
            var outputFile = window.prompt("What do you want to name your output file (Note: This won't have any effect on Safari)") || 'export';
            outputFile = outputFile.replace('.csv','') + '.csv'

            // CSV
            exportTableToCSV.apply(this, [$('#dvData > table'), outputFile]);

            // IF CSV, don't do event.preventDefault() or return false
            // We actually need this to be a typical hyperlink
        });
    });
</script>
</body>
</html>
